In [2]:
import pandas as pd
#df=pd.read_csv("https://raw.githubusercontent.com/pmsn23/CheXNet/master/train.csv")
df=pd.read_csv("train.csv")

### chest xray (CXR) Terminology and dataset chracteristics
- path - Location of the xray jpg file
- sex - male/female and the ratio is 60:40 - There is one entry with unknown
- age - Ranging from 18 thru 90, 3 entries with zero.
- frontal_lateral - xray of front view (frontal) (or) side view (lateral)


- PA (posterioranterior) - xray taken when the patient in standing position (upright), the xray tube is 72inch from the patient
- AP (anteriorposterior) - xray taken while the patient in lying down and facing up potision (supine position), the xray tube is 40inch from the patient
- LL - Left Lateral
- RL - Right Lateral


- Number of CXR with AP, PA, LL and RL
    - AP : 161590
    - PA :  29420
    - LL :     16
    - RL :      1


- The AP shows magnification of the heart and widening of the mediastinum. Whenever possible the patient should be imaged in an upright PA position.  AP views are less useful and should be reserved for very ill patients who cannot stand erect.
    
    - xray count
        - Frontal    191027
        - Lateral     32387
        
        
- pleural_effusion status
    - Positive: 86,187 (1)
    - Negative: 11,628 (-1)
    - Uncertain:  35,396 (0)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223414 entries, 0 to 223413
Data columns (total 19 columns):
path                          223414 non-null object
sex                           223414 non-null object
age                           223414 non-null int64
frontal_lateral               223414 non-null object
ap_pa                         191027 non-null object
no_finding                    22381 non-null float64
enlarged_cardiomediastinum    44839 non-null float64
cardiomegaly                  46203 non-null float64
lung_opacity                  117778 non-null float64
lung_lesion                   11944 non-null float64
edema                         85956 non-null float64
consolidation                 70622 non-null float64
pneumonia                     27608 non-null float64
atelectasis                   68443 non-null float64
pneumothorax                  78934 non-null float64
pleural_effusion              133211 non-null float64
pleural_other                 6492 non-null float64
fracture                      12194 non-null float64
support_devices               123217 non-null float64
dtypes: float64(14), int64(1), object(4)
memory usage: 32.4+ MB

In [9]:
df.columns = df.columns.str.strip().str.lower().str.replace('/', '_').str.replace(' ','_')

In [21]:
df["sex"].value_counts()

Male       132636
Female      90777
Unknown         1
Name: sex, dtype: int64

In [13]:
df["pleural_effusion"].value_counts()

 1.0    86187
 0.0    35396
-1.0    11628
Name: pleural_effusion, dtype: int64

In [14]:
df["frontal_lateral"].value_counts()

Frontal    191027
Lateral     32387
Name: frontal_lateral, dtype: int64

In [15]:
df["ap_pa"].value_counts()

AP    161590
PA     29420
LL        16
RL         1
Name: ap_pa, dtype: int64

In [16]:
df["no_finding"].value_counts()

1.0    22381
Name: no_finding, dtype: int64

In [17]:
df_nominal = df.loc[:, (df.dtypes == object)]
df[df_nominal.columns].describe().transpose()

,count,unique,top,freq
path,223414,223414,CheXpert-v1.0-small/train/patient41098/study1/...,1
sex,223414,3,Male,132636
frontal_lateral,223414,2,Frontal,191027
ap_pa,191027,4,AP,161590